<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_DIR">logs</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- File Appender for All Logs -->
        <RollingFile name="FileAppender" fileName="${LOG_DIR}/api-tests.log"
                     filePattern="${LOG_DIR}/api-tests-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- File Appender for Test Results -->
        <RollingFile name="TestResultsAppender" fileName="${LOG_DIR}/test-results.log"
                     filePattern="${LOG_DIR}/test-results-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

        <!-- File Appender for API Calls -->
        <RollingFile name="ApiCallsAppender" fileName="${LOG_DIR}/api-calls.log"
                     filePattern="${LOG_DIR}/api-calls-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

        <!-- File Appender for Error Logs -->
        <RollingFile name="ErrorAppender" fileName="${LOG_DIR}/error.log"
                     filePattern="${LOG_DIR}/error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

        <!-- File Appender for Debug Logs -->
        <RollingFile name="DebugAppender" fileName="${LOG_DIR}/debug.log"
                     filePattern="${LOG_DIR}/debug-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Logger for Banking API Tests -->
        <Logger name="org.banking" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="TestResultsAppender"/>
            <AppenderRef ref="ErrorAppender"/>
        </Logger>

        <!-- Logger for RestAssured -->
        <Logger name="io.restassured" level="INFO" additivity="false">
            <AppenderRef ref="ApiCallsAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Logger for TestNG -->
        <Logger name="org.testng" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TestResultsAppender"/>
        </Logger>

        <!-- Logger for Allure -->
        <Logger name="io.qameta.allure" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TestResultsAppender"/>
        </Logger>

        <!-- Logger for ExtentReports -->
        <Logger name="com.aventstack" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TestResultsAppender"/>
        </Logger>

        <!-- Logger for Jackson -->
        <Logger name="com.fasterxml.jackson" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Logger for Apache POI -->
        <Logger name="org.apache.poi" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Logger for HTTP Client -->
        <Logger name="org.apache.http" level="WARN" additivity="false">
            <AppenderRef ref="ApiCallsAppender"/>
        </Logger>

        <!-- Logger for Groovy (RestAssured uses it) -->
        <Logger name="groovy" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ErrorAppender"/>
        </Root>
    </Loggers>
</Configuration>